<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!--
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    -->
    <section name="oracle.manageddataaccess.client1" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess"></section>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!--<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="TempPicturePath" value="C:\automationTest\Automation Workbooks\tempImg"/>
    <add key="SoftWareProvider" value="Misys US (NYC)"/>
    <!--
    Federal Home Loan Bank of Chicago
    -->
    <add key="ClientFullName" value="Federal Home Loan Bank of Chicago"/>
    <add key="ReportFirstPageHeader" value="MARS AUTO REGRESSION TESTING REPORT"/>
    <add key="ReportPageEyebrow" value="MARS Automation Testing Framework"/>
    <add key="REPORT_PATH" value="C:\automationTest\Automation Workbooks\Report"/>
    <add key="REPORT_TEMPLATE_PATH" value="C:\automationTest\Automation Workbooks\ReportTemplates"/>
    <add key="TestTargetApplication" value="SummitFT 6.0"/>
    <!--value= true /false-->
    <!-- since 2020 12 30, multiple db conections are supported.
      ## database connection information could be stored in this section, started with db connection name, if no 
      ## related information provided. And the password should be encoded
    -->
    <add key="Mars16Gen5.DB_PASSWORD" value="S/b4j/RbrT8Ndc9Ompy4Kg=="/>
    <add key="Mars16Gen5.DB_USERID" value="GEN_MARS_5"/>
    <add key="Mars16Gen5.DB_HOST" value="mars16.eastus.cloudapp.azure.com"/>
    <add key="Mars16Gen5.NEWSCHEMA" value="GEN_MARS_5"/>
    <add key="Mars11Gen5.DB_PASSWORD" value="S/b4j/RbrT8Ndc9Ompy4Kg=="/>
    <add key="Mars11Gen5.DB_USERID" value="GEN_MARS_5"/>
    <add key="Mars11Gen5.DB_HOST" value="mars16.eastus.cloudapp.azure.com"/>
    <add key="Mars11Gen5.NEWSCHEMA" value="GEN_MARS_5"/>
    
    <add key="IsContinueLatestTest" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="MARSDBInstance" value="Oracle"/>
    <add key="MARS_DB_PWD" value="BzajNZ29/UgNdc9Ompy4Kg=="/>
    <add key="PROJ_EXP_DIR" value="C:\automationTest\Automation Workbooks\ExportProj"/>
    <add key="IsAutoCheckError" value="true"/>
    <!--<add key="DefaultSchema" value="GEN_MARS" />-->
    <add key="DefaultSchema" value="GEN_MARS_5"/> 
    <!--for non-qtp version-->
    <add key="DefaultWindowIds" value="Text:=((Misys ){0,1}(FusionCapital ){0,1}Summit( FT){0,1})(?!(.*Login)).*;swfname:=Desktop;index:=0"/>
    
    <add key="DefaultWaitTime" value="120"/>
  </appSettings>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/MarsIDE.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
  </log4net>
  <connectionStrings>
    <clear/>

    <!--
    (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = orclpdb)))
    BLRCSWTCM0010 XEx
    (DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = FR1PSWPSORA01)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = OPSWW1)))
  s
     <add name="MarsEntities" connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE= (DESCRIPTION = (ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST = FR1PSWPSORA01)(PORT = 1521))) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = OPSWW1) )  );Connection Timeout=360;PASSWORD=MARS_NT;USER ID=MARS_NT&quot;" providerName="System.Data.EntityClient"/>
    <add name="MarsEntities"          
         connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = FR1PSWPSORA01)(PORT = 1521)))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = OPSWW1)));Connection Timeout=360;PASSWORD=TESTIDE2;USER ID=TESTIDE2&quot;" 
          providerName="System.Data.EntityClient"/>
     
     
    misys
    (DESCRIPTION = (ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST = FR1PSWPSORA01)(PORT = 1521))) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = OPSWW1) )  )
    opics
    BLRCSWTCM0010/xe
    <add name="MarsEntities" connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE= (DESCRIPTION = (ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST = FR1PSWPSORA01)(PORT = 1521))) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = OPSWW1) )  );Connection Timeout=360;PASSWORD=TESTIDE2;USER ID=TESTIDE2&quot;" providerName="System.Data.EntityClient"/>
    <add name="MarsEntities"
         connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = BLRCSWTCM0010)(PORT = 1521))) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = xe)));Connection Timeout=360;PASSWORD=TESTIDE2;USER ID=TESTIDE2&quot;"
          providerName="System.Data.EntityClient"/>
          <add name="MarsEntities"          
         connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST = FR1PSWPSORA01)(PORT = 1521))) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = OPSWW1) )  );Connection Timeout=360;PASSWORD=TESTIDE2;USER ID=TESTIDE2&quot;" 
          providerName="System.Data.EntityClient"/>
          
    <add name="MarsEntities" connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE= (DESCRIPTION = (ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST = FR1PSWPSORA01)(PORT = 1521))) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = OPSWW1) )  );Connection Timeout=360;PASSWORD=TESTIDE2;USER ID=TESTIDE2&quot;" providerName="System.Data.EntityClient"/>    
    <add name="MarsEntities"          
         connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = orclpdb)));Connection Timeout=360;PASSWORD=TESTIDE2;USER ID=TESTIDE2&quot;" 
          providerName="System.Data.EntityClient"/>
    <add name="MarsEntities" connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE= (DESCRIPTION = (ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST = BLRCSWTCM0010)(PORT = 1521))) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = xe) )  );Connection Timeout=360;PASSWORD=TESTIDE2;USER ID=TESTIDE2&quot;" providerName="System.Data.EntityClient"/>    
    
    <add name="MarsEntities"          
         connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = orclpdb)));Connection Timeout=360;PASSWORD=TESTIDE2;USER ID=TESTIDE2&quot;" 
          providerName="System.Data.EntityClient"/>
      TESTIDELOCAL
  -->
    <!--<add name="MarsEntities" connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = orclpdb)));Connection Timeout=360;PASSWORD=TESTIDE2;USER ID=TESTIDE2&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="MarsEntities" connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE= (DESCRIPTION = (ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST = FR1PSWPSORA01)(PORT = 1521))) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = OPSWW1) )  );Connection Timeout=360;PASSWORD=MARS_NT;USER ID=MARS_NT&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="MarsEntities" connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE= (DESCRIPTION = (ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST = 10.240.64.40)(PORT = 1521))) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = xe) )  );Connection Timeout=360;PASSWORD=TESTIDE2;USER ID=TESTIDE2&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="MarsEntities" connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=mars11.eastus.cloudapp.azure.com)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orclpdb.hybkaalv5llunibolgwj0r0pdf.bx.internal.cloudapp.net)));PASSWORD=GEN_MARS_5;USER ID=GEN_MARS_5&quot;" providerName="System.Data.EntityClient"/> -->
        <!--<add name="MarsEntities"
         connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.240.64.40)(PORT = 1521))) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = xe)));Connection Timeout=360;PASSWORD=TESTIDE2;USER ID=TESTIDE2&quot;"
          providerName="System.Data.EntityClient"/>-->
    <add name="MarsEntities" connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=mars11x.eastus.cloudapp.azure.com)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orclpdb.hybkaalv5llunibolgwj0r0pdf.bx.internal.cloudapp.net)));PASSWORD=GEN_MARS_5;USER ID=GEN_MARS_5&quot;" providerName="System.Data.EntityClient"/>
    <add name="Mars16Gen5" connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=mars16.eastus.cloudapp.azure.com)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orclpdb.hybkaalv5llunibolgwj0r0pdf.bx.internal.cloudapp.net)));PASSWORD=GEN_MARS_5;USER ID=GEN_MARS_5&quot;" providerName="System.Data.EntityClient"/>
    <add name="Mars11Gen5" connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=mars11.eastus.cloudapp.azure.com)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orclpdb.hybkaalv5llunibolgwj0r0pdf.bx.internal.cloudapp.net)));PASSWORD=GEN_MARS_5;USER ID=GEN_MARS_5&quot;" providerName="System.Data.EntityClient"/>
    <add name="Gen_5_40_76_111_78" connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=40.76.111.78)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orclpdb.hybkaalv5llunibolgwj0r0pdf.bx.internal.cloudapp.net)));PASSWORD=GEN_MARS_5;USER ID=GEN_MARS_5&quot;" providerName="System.Data.EntityClient"/>
    <add name="TESTIDE2" connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.240.64.40)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=xe)));PASSWORD=TESTIDE2;USER ID=TESTIDE2&quot;" providerName="System.Data.EntityClient"/>

    <!--<add name="MarsEntities" connectionString="metadata=res://*/Model.MarsModel.csdl|res://*/Model.MarsModel.ssdl|res://*/Model.MarsModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE= (DESCRIPTION = (ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST = FR1PSWPSORA01)(PORT = 1521))) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = OPSWW1) )  );Connection Timeout=360;PASSWORD=MARS_NT;USER ID=MARS_NT&quot;" providerName="System.Data.EntityClient"/>
    -->
    <add name="Mars.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=orcl;PASSWORD=TESTIDE2;PERSIST SECURITY INFO=True;USER ID=TESTIDE2" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  <oracle.manageddataaccess.client1>
    <version number="*">
      <settings>
        <setting name="SQLNET.ENCRYPTION_CLIENT" value="accepted"/>
      </settings>
    </version>
  </oracle.manageddataaccess.client1>
  <!--<system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client"/>
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        </DbProviderFactories>
    </system.data>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <publisherPolicy apply="no"/>
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
                <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.8.0" newVersion="1.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Validation" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  
</configuration>
