<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AIT.EF.Oracle.IdentityPatch" version="1.0.1.0" targetFramework="net45" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net45" />
  <package id="EnterpriseLibrary.Common" version="5.0.505.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Logging" version="5.0.505.1" targetFramework="net45" />
  <package id="EnterpriseLibrary.Validation" version="5.0.505.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Validation.Integration.WPF" version="5.0.505.0" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="Microsoft.Practices.EnterpriseLibrary.Common.dll" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Practices.EnterpriseLibrary.Validation" version="4.0.30319" targetFramework="net45" />
  <package id="Microsoft.Practices.ObjectBuilder.dll" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAPICodePack.Core" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAPICodePack.Shell" version="1.1.0" targetFramework="net45" />
  <package id="MSBuild.Extension.Pack" version="1.4.0" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net45" />
  <package id="Prism" version="5.0.0" targetFramework="net45" />
  <package id="Prism.Composition" version="5.0.0" targetFramework="net45" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net45" />
  <package id="Prism.Interactivity" version="5.0.0" targetFramework="net45" />
  <package id="Prism.Mvvm" version="1.0.0" targetFramework="net45" />
  <package id="Prism.PubSubEvents" version="1.0.0" targetFramework="net45" />
  <package id="Prism.Wpf" version="7.2.0.1422" targetFramework="net45" />
  <package id="System.Composition" version="1.0.31" targetFramework="net45" />
  <package id="System.Composition.AttributedModel" version="1.0.31" targetFramework="net45" />
  <package id="System.Composition.Convention" version="1.0.31" targetFramework="net45" />
  <package id="System.Composition.Hosting" version="1.0.31" targetFramework="net45" />
  <package id="System.Composition.Runtime" version="1.0.31" targetFramework="net45" />
  <package id="System.Composition.TypedParts" version="1.0.31" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
  <package id="Unity" version="2.1.505.0" targetFramework="net45" />
  <package id="Unity.Interception" version="2.1.505.0" targetFramework="net45" />
  <package id="WMPLib" version="1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Xamarin.Forms" version="2.3.3.193" targetFramework="net45" />
</packages>