<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <configSections>
    <section name="XlsConfigMode" type="System.Configuration.NameValueSectionHandler"/>
    <section name="RegistedApplications" type="com.Mars.Config.RegisterdApplictions, MarsTestFrame" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true"/>
    <section name="Keywords" type="com.Mars.KeyWords.KeyWordObject.KeyWordsSection, MarsTestFrame" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true"/>
    <!--
    <section name="MarsPlugins" type="MarsTestFrame.plugins.MarsPluginsLoader, MarsTestFrame" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true"/>
    -->
    <section name="UFTInitScripts" type="System.Configuration.NameValueSectionHandler"/>
    <section name="CurrentUFTAddins" type="System.Configuration.NameValueSectionHandler"/>
    <section name="FrameWorkService" type="System.Configuration.NameValueSectionHandler"/>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess"/>
  </configSections>
  
  <appSettings>
    <add key="RegistedApplicationsMode" value="config"/>
    <!--
    <add key="ObjectSource" value="xlsFile"/>
    -->
    <add key="TCDataSource" value="dataBase"/>    
    <add key="ObjectSource" value="dataBase"/>
    
    <!--
    <add key="TCDataSource" value="dataBase"/>
    -->
    <add key="KeywordSource" value="config"/>    
    <add key="DefautlApplication" value="ShortName:Sophis713"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DebugMode" value="VBS"/>
    <!--Two values are avaible:build/comparison-->
    <add key="BaseLineMode" value="Build"/>
    <add key="QtpRoot" value="C:\Program Files (x86)\HP\Unified Functional Testing"/>
    <!-- pegwindow type,created on 11/10/2015 -->
    <add key="PegwindowType" value="Pegwindow;Window;Dialog;WpfWindow;SwfWindow"/>
  
    <!-- for Objects Database setting -->
    <add key="DatabaseModeConnection" value="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.2.99)(PORT = 1521))(CONNECT_DATA = (SERVICE_NAME = orcl.internal.marquis.nyc))); User Id = TESTIDE2; Password =TESTIDE2;"/>
    <add key="TestCaseDirectory" value="C:\Automation Workbooks\TC"/>
    <add key="DataDirectory" value="C:\Automation Workbooks\Data"/>

    <add key="GenerateAppFor" value="SophisValue.exe" />
    <add key="DefaultCacheApp-Objects" value="Opics4.x"/>
    <add key="SkipStepWords" value="SKIP;IGNORE"/>
    <add key="DataCompare" value="MarsCompare\MARSCompareGUI.exe"></add>
    <!--client logo-->
    <add key="CurrentClientLogo" value="C:\automationTest\Automation Workbooks\resource\ClientLogo\FHLBChicagologo.jpg"/>
    <add key="CurrentClientName" value="Federal Home Loan Bank of Chicago"/>
    
    <!--Xml Export/Import Dir-->
    <add key="ExportXmlDirectory" value="C:\automationTest\Automation Workbooks\XmlExportImport\Exp"/>
    <add key="ImportXmlDirectory" value="C:\automationTest\Automation Workbooks\XmlExportImport\Imp"/>
    
    <!--Pegwindow extenal-->
    <add key="CurrentPegWindowReplace" value="JavaWindow"/>
    <!--添加autocheck error-->
    <add key="IsAutoCheckError" value="True"/>
    <!--an extends, more than one checkError objects can be used-->
    <add key="_AUTO_ERROR_CHECK_OBJ_" value="_AUTO_ERROR_CHECK_OBJ_"/>
    <add key="CurrentAppShortName" value="Summit" />

    <add key="KeywordRequireAutocheckError" value ="ADDDays;ClickButton;ClickMenuIcon;ClickPopupMenuItem;ClickRadioButton;FillEdit;FillEditLookup;FillEditSuffix;FillTable;InsertEdit;InsertRow;LaunchApplication;PressKeys;PressTab;SearchAndClick;SearchAndUpdateTable;SelectDropDown;SelectListItem;SelectMenuItem;SelectTab;SetBox"/>
    <!--For different schema-->
    <!--<add key="DefaultSchema" value="GEN_MARS"/>-->
    <add key="DefaultSchema" value="GEN_MARS_5"/>
    <add key="ShellDir" value="d:\tmp\Mars\" />
  </appSettings>
  <XlsConfigMode>
    <add key="RootPath" value="C:\automationTest\Automation Workbooks">
    </add>
  </XlsConfigMode>
  <UFTInitScripts>
    <!--all path should be related path -->
    <add key="MarquisFunctionLibrary" value="TestCode\MarquisFunctionLibrary.qfl">
    </add>
    <add key="MarquisFunc_External" value="TestCode\MarquisFunc_External.vbs">
    </add>
    <add key="TestDriver" value="TestCode\TestDriver.vbs">
    </add>
    <add key="XmlCompare" value="TestCode\XmlCompare.qfl">
    </add>
    <add key="processMgr" value="TestCode\processMgr.vbs">
    </add>
    <add key="FrameConst" value="TestCode\FrameConst.vbs">
    </add>
    <add key="JavaFramework" value="TestCode\JavaFramework.vbs">
    </add>
    <!--Ver1_5-->
    <add key="DevExpress" value="TestCode\DevExpress_addins.vbs">
    </add>
    <!--Ver1_5 end-->
    <!-- Opics and infragistics 122-->
    <add Key="OpicsPlus_Infragistics122" value="TestCode\Infragistics_Addins.vbs"/>
  </UFTInitScripts>
  <CurrentUFTAddins>
    <!--all items here should be the same as QTP setting,
        Don't modify items if not necessary.
        Just comment items if it is not required for the current test.
        Tiger
      -->
    <add key=".NET" value=".NET">
    </add>
    <add key="Java" value="Java">
    </add>
    <add key="WPF" value="WPF">
    </add>
  </CurrentUFTAddins>
  
  <MarsPlugins>
    <MarsPlugin Type="MarsPlugin-TestSteps" Name="TestPlugins" Path="C:\automationTest\Automation Workbooks\dlls\TestPlugins.dll">      
    </MarsPlugin>
  </MarsPlugins>
    <FrameWorkService>
    <add key="HOST" value="localhost">
    </add>
    <add key="PROTOCOL" value="net.tcp">
    </add>
    <add key="PORT" value="9888">
    </add>
    <add key="SERVICENAME" value="MARSTIGFrame">
    </add>
  </FrameWorkService>
  <Keywords>
    <!--
    <Keyword key="APPLICATIONLOAD" AppliedApplications="AllWindowsApplication" RunFrom="dll;keyWords.dll"  ParameterParse="com.Mars.Keywords.Parse.SystemFunction"></Keyword>
    -->
    <!--
    <Keyword key="FillEdit" AppliedApplications="ALL;JavaApplication" RunFrom="QTP" ParameterParse="MarsTestFrame.SourceCode.com.Mars.KeyWords.KeyWordObject"></Keyword>
    -->
    <Keyword key="CaptureValue" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="CaptureAndCompare" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="CheckError" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="ClickButton" AppliedApplications="All" RunFrom="dll">
    </Keyword>
    <Keyword key="ClickMenuIcon" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="ClickPopupMenuItem" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    

    <Keyword key="CloseWindow" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="Comment" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="CopyExcelRangeToClipboard" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    
    <Keyword key="Dismiss" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="DBCompare" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="EndLoop" AppliedApplications="All" RunFrom="dll">
    </Keyword>
    <Keyword key="ELSE" AppliedApplications="All" RunFrom="dll">
    </Keyword>
    <Keyword key="ExecuteCommand" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="FillEdit" AppliedApplications="ALL;" RunFrom="QTP" ParameterParse="MarsTestFrame.SourceCode.com.Mars.KeyWords.KeyWordObject.KeyWordsValidate">
    </Keyword>
    <Keyword key="FillTable" AppliedApplications="ALL;" RunFrom="QTP" ParameterParse="MarsTestFrame.SourceCode.com.Mars.KeyWords.KeyWordObject.KeyWordsValidate">
    </Keyword>
    <Keyword key="IF" AppliedApplications="All" RunFrom="dll">
    </Keyword>
    <Keyword key="IFEND" AppliedApplications="All" RunFrom="dll">
    </Keyword>
    <Keyword key="InsertEdit" AppliedApplications="All" RunFrom="dll">
    </Keyword>
    <Keyword key="InsertRow" AppliedApplications="All" RunFrom="dll">
    </Keyword>
    
    <Keyword key="Loop" AppliedApplications="All" RunFrom="dll">
    </Keyword>
    <Keyword key="LaunchApplication" AppliedApplications="All" RunFrom="dll">
    </Keyword>
    <Keyword key="KillApplication" AppliedApplications="All" RunFrom="dll;keyWords.dll" ParameterParse="MarsTestFrame.SourceCode.com.Mars.KeyWords.KeyWordObject.KeywordRequireValue">
    </Keyword>
    <Keyword key="KillSummit" AppliedApplications="ALL" RunFrom="QTP">
    </Keyword>
    <Keyword key="MaximizeWindow" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="Pegwindow" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="PressKeys" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="RefreshForm" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="ResumeNext" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="RemovePage" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="ScrollWindow" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="SearchAndClick" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="SearchAndUpdateTable" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="SearchAndReplace" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="SelectDropDown" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="SelectListItem" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="SelectMenuItem" AppliedApplications="All" RunFrom="QTP">
    </Keyword>

    <Keyword key="SetBox" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="SetCurrentApplication" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="SetDataFile" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="SelectTab" AppliedApplications="All" RunFrom="QTP">
    </Keyword>    
    <Keyword key="SnapShot" AppliedApplications="All" RunFrom="dll">
    </Keyword>
    <Keyword key="StartApplication" AppliedApplications="All" RunFrom="QTP">
    </Keyword>
    <Keyword key="SummitLaunch" AppliedApplications="ALL" RunFrom="QTP">
    </Keyword>
    <Keyword key="VerifyValue" AppliedApplications="All" RunFrom="dll">
    </Keyword>
    <Keyword key="WaitForSeconds" AppliedApplications="All" RunFrom="dll">
    </Keyword>
    
  </Keywords>
  
  <RegistedApplications>
    <!--
		INFRAGISTICS_V_922
		INFRAGISTICS_V_11
		INFRAGISTICS_V_12
		INFRAGISTICS_V_122
		INFRAGISTICS_V_7
		INFRAGISTICS_V_14
		INFRAGISTICS_V_152
		DEVEXPRESS_V_11
		-->
    <RegApplication AppName="Summit5.7" command="" path="http://192.168.2.99:8080/SummitFT/SummitFT.application" identifier="SummitFT.exe" ApplicationType="window" ObjectFile="C:\automationTest\Automation Workbooks\CDictionary\controlDictionary53.xls" ExtraRequirement="INFRAGISTICS_V_12" ExtraPopupMenu="2"/>
    <RegApplication AppName="Summit" command="" path="C:\Users\tiger\Dropbox (Marquis)\Marquis_Shared\ft\fhlbch55mars2\SummitFT.exe" identifier="SummitFT.exe" ApplicationType="window" ObjectFile="C:\automationTest\Automation Workbooks\CDictionary\controlDictionary53.xls" ExtraRequirement="INFRAGISTICS_V_922" ExtraPopupMenu="1"/>
    <RegApplication AppName="Summit6.0" command="" path="C:\SummitApps\FT_Front64_60mar\SummitFT.exe" identifier="SummitFT.exe" ApplicationType="window" ObjectFile="C:\automationTest\Automation Workbooks\CDictionary\controlDictionary53.xls" ExtraRequirement="INFRAGISTICS_V_14" ExtraPopupMenu="1"/>
    <RegApplication AppName="Summit6.1" command="" path="C:\summit\v6.1\forServer1\FT_Front64\SummitFT.exe" identifier="SummitFT.exe" ApplicationType="window" ObjectFile="C:\automationTest\Automation Workbooks\CDictionary\controlDictionary53.xls" ExtraRequirement="INFRAGISTICS_V_162" ExtraPopupMenu="1"/>
    <RegApplication AppName="IFCSummit6.1" command="" path="C:\work\summmit\V6.2.9.1\FT_Front64\SummitFT.exe" identifier="SummitFT" ApplicationType="window" ObjectFile="C:\automationTest\Automation Workbooks\CDictionary\controlDictionary53.xls" ExtraRequirement="INFRAGISTICS_V_162" ExtraPopupMenu="1"/>
    <RegApplication AppName="Summit5.6" command="" path="C:\work\summmit\V6.2.9.1\FT_Front64\SummitFT.exe" identifier="SummitFT" ApplicationType="window" ObjectFile="C:\automationTest\Automation Workbooks\CDictionary\controlDictionary53.xls" ExtraRequirement="INFRAGISTICS_V_162" ExtraPopupMenu="1"/>
    
    <!--<RegApplication AppName="Summit6.0" command="" path="\\192.168.2.99\c\SummitApps\V6.0\FT_Front64\SummitFT.exe" identifier="Summit6.0" ApplicationType="window" ObjectFile="C:\automationTest\Automation Workbooks\CDictionary\controlDictionary53.xls" ExtraRequirement="INFRAGISTICS_V_14" ExtraPopupMenu="1"/>-->
    <!--<RegApplication AppName="Summit6.0" command="" path="\\7.197.246.255\c\SummitApps\V6.0\FT_Front64\SummitFT.exe" identifier="Summit6.0" ApplicationType="window" ObjectFile="C:\automationTest\Automation Workbooks\CDictionary\controlDictionary53.xls" ExtraRequirement="INFRAGISTICS_V_14" ExtraPopupMenu="1"/>-->
    <RegApplication AppName="Sophis" command="" path="C:\Misys\FusionInvest\7.1.3\SophisValue.exe" identifier="SophisValue.exe" ApplicationType="window" ObjectFile="C:\automationTest\Automation Workbooks\CDictionary\Sophis7.xls" ExtraRequirement="DEVEXPRESS_V_11;INFRAGISTICS_V_12" ExtraPopupMenu="1"/>
    <RegApplication AppName="Opics4.x" command="" path="E:\Program Files\Misys\OpicsPlusClient\OpicsPlus.exe" identifier="OpicsPlus.exe" ApplicationType="window" ObjectFile="C:\automationTest\Automation Workbooks\CDictionary\Sophis7.xls" ExtraRequirement="INFRAGISTICS_V_122" ExtraPopupMenu="0"/>
    <RegApplication AppName="TPG" command="" path="C:\Program Files (x86)\TPG Software\TPG_PG.exe" identifier="TPG_PG.exe" ApplicationType="window" ObjectFile="C:\automationTest\Automation Workbooks\CDictionary\Sophis7.xls" ExtraRequirement="INFRAGISTICS_V_152" ExtraPopupMenu="0"/>
    <RegApplication AppName="Kondor BackOffice" command="portal/login.jsp" path="http://alpha.fr1cslpsap0008.misys.global.ad/" identifier="iexplore" ApplicationType="WEB_IE" ObjectFile="C:\automationTest\Automation Workbooks\CDictionary\Sophis7.xls" ExtraRequirement="MARS_APP_IE_WEB" ExtraPopupMenu="0"/>
  </RegistedApplications>


    <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log/MarsTestingLog.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date]  %thread -- %-5level -- %logger [%M] -- %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
    
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <!--<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
      -->
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess"/>
    </DbProviderFactories>
  </system.data>
<!--
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  -->
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>

  
</configuration>
