<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" 
      throwExceptions="false" internalLogFile="temp\MarsWeblog.txt">
  <!--Define Various Log Targets like files, database or asp.net trace files-->
  <targets>
    <!--<target name="coloredConsole" xsi:type="Console" layout="[${level}](${longdate})|${machinename}.[${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true}]|${callsite:rownumber}|:${message}${newline}"/>-->
    <target name="console"        xsi:type="Console" layout="----[${level}](${longdate})|${machinename}|[${callsite}]--${message}"/>
    <!--Write logs to File  where we want to write error logs-->
    <target name="file" xsi:type="File"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="10000000"
            archiveDateFormat="yyyyMMddHHmm"
            fileName="${basedir}/log/${shortdate}_LogFile.log" layout="[${level}](${longdate})--${machinename}.[${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=True:cleanNamesOfAsyncContinuations=True}]|${message}${newline}">
    </target>
    <target name="SpyLogfile" xsi:type="File"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="10000000"
            archiveDateFormat="yyyyMMddHHmm"
            fileName="${basedir}/log/${shortdate}_spyLogFile.log" layout="[${level}](${longdate})--${machinename}.[${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=True:cleanNamesOfAsyncContinuations=True}]|${message}">
    </target>
    
    <target name="apiFile" xsi:type="File"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="10000000"
            archiveDateFormat="yyyyMMddHHmm"
            fileName="${basedir}/log/${shortdate}_apiFile.log" layout="[${level}](${longdate})--${machinename}.[${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=True:cleanNamesOfAsyncContinuations=True}]|${message}">
    </target>
    <target name="webHookLog" xsi:type="File"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="10000000"
            archiveDateFormat="yyyyMMddHHmm"
            fileName="${basedir}/log/${shortdate}_Webhook.log" layout="[${level}](${longdate})--${machinename}.[${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=True:cleanNamesOfAsyncContinuations=True}]:${message}">
    </target>
    <target name="Errorfile" xsi:type="File"
            archiveNumbering="DateSequence"
            archiveDateFormat="yyyyMMddHHmm"
            archiveAboveSize="10000000"
            fileName="${basedir}/log/${shortdate}_ErrorLogFile.log" layout="      
            [${level}](${longdate})--${machinename}.[${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true}]:${message}${newline}
            Exception Type:${exception:format=Type}${newline}      
            Exception Message:${exception:format=Message}${newline}      
            Stack Trace:${exception:format=StackTrace}${newline}      
            Source:${exception:format=Source}${newline}  
            InnerException:${exception:format=InnerException}${newline}">
    </target>
    <target name="TransFile" xsi:type="File" 
            archiveNumbering="DateSequence"
            archiveDateFormat="yyyyMMddHHmm"
            archiveAboveSize="10000000"
            fileName="${basedir}/log/${shortdate}_Trans.log" layout="transaction log:[${level}](${longdate})--${machinename}.[${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true}]:${message}${newline}">
    </target>
    <target name="NoDisplayLog" xsi:type="Null">
    </target>
  </targets>

  <rules>
    <logger name="Log"        levels="Debug,Trace,Info,Error" writeTo="file,console" />
    <logger name="ErrorLog"   levels="Debug,Info,Error" writeTo="file,SpyLogfile,Errorfile,console" />
    <logger name="TransLog"   levels="Debug,Info,Error" writeTo="TransFile,console" />
    <logger name="ApiLog"     levels="Debug,Trace,Info,Error" writeTo="apiFile,console"   />    
    <logger name="webHookLog" levels="Debug,Info,Error" writeTo="webHookLog,console" />
    <logger name="MarsSpyLog" levels="Debug,Trace,Info,Error" writeTo="SpyLogfile,console" />
    
    <logger name="Microsoft.*" minlevel="Debug" writeTo="" final="true"    />   
  </rules>
</nlog>
