<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--section name="XlsConfigMode" type="System.Configuration.NameValueSectionHandler"/ -->
    <section name="RegistedApplications" type="com.Mars.Config.RegisterdApplictions, MarsTestFrame" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true"/>
    <section name="Keywords" type="com.Mars.KeyWords.KeyWordObject.KeyWordsSection, MarsTestFrame" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true"/>
    <section name="UFTInitScripts" type="System.Configuration.NameValueSectionHandler"/>
    <section name="CurrentUFTAddins" type="System.Configuration.NameValueSectionHandler"/>
    <section name="FrameWorkService" type="System.Configuration.NameValueSectionHandler"/>
    <section name="TestMonitorService" type="System.Configuration.NameValueSectionHandler"/>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <add key="RegistedApplicationsMode" value="config"></add>
    <add key="ObjectSource" value="xlsFile"/>
    <add key="KeywordSource" value="config"/>
    <add key="TCDataSource" value="xlsFile"/>
    <add key="DefautlApplication" value="ShortName:Summit 5.7"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!-- value should be Litter or Number -->
    <add key="Prefix/Sufix" value="Litter"/>
    <!-- Skippable Keyword even the keyword returns error-->
    <add key="SkippableKeyword" value="CaptureValue;CaptureAndCompare;CaptureAndCompareByKey"/>
    <add key="KeywordsNotRequireData" value="KillApplication;Dismiss;CheckError"/>
    <add key="FillTableAutoCheckError" value="false"/>
    <add key="COLOR_FOR_ERROR_CELL" value="#FFFF00"/>
  </appSettings>
  <!--XlsConfigMode>
    <add key="RootPath" value="C:\automationTest\Automation Workbooks">
    </add>
  </XlsConfigMode -->
  <UFTInitScripts>
    <!--all path should be related path -->
    <add key="MarquisFunctionLibrary" value="TestCode\MarquisFunctionLibrary.qfl">
    </add>
    <add key="MarquisFunc_External" value="TestCode\MarquisFunc_External.vbs">
    </add>
    <add key="TestDriver" value="TestCode\TestDriver.vbs">
    </add>
    <add key="XmlCompare" value="TestCode\XmlCompare.qfl">
    </add>
    <add key="processMgr" value="TestCode\processMgr.vbs">
    </add>
    <add key="FrameConst" value="TestCode\FrameConst.vbs">
    </add>
    <add key="JavaFramework" value="TestCode\JavaFramework.vbs">
    </add>
    <!--Ver1_5-->
    <add key="Infragistics_addins" value="TestCode\Infragistics_Addins.vbs">
    </add>
    <!--Ver1_5 end-->
  </UFTInitScripts>
  <CurrentUFTAddins>
    <!--all items here should be the same as QTP setting,
        Don't modify items if not necessary.
        Just comment items if it is not required for the current test.
        Tiger
      -->
    <add key=".NET" value=".NET">
    </add>
    <add key="Java" value="Java">
    </add>
    <add key="Web" value="Web">
    </add>
    <add key="WPF" value="WPF">
    </add>
  </CurrentUFTAddins>
  <FrameWorkService>
    <add key="HOST" value="localhost">
    </add>
    <add key="PROTOCOL" value="net.tcp">
    </add>
    <add key="PORT" value="9888">
    </add>
    <add key="SERVICENAME" value="MARSTIGFrame">
    </add>
  </FrameWorkService>
  <TestMonitorService>
    <add key="HOST" value="localhost">
    </add>
    <add key="PROTOCOL" value="net.tcp">
    </add>
    <!-- IT SHOULD BE SAME AS SERVICE SETTING-->
    <add key="PORT" value="9990">
    </add>
    <add key="SERVICENAME" value="MARSTIGFrameMonitor">
    </add>
  </TestMonitorService>
  <Keywords>
    
  </Keywords>
  <RegistedApplications>
    
  </RegistedApplications>

  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\automationTest\\Automation Workbooks\\dlls\\log\\MarsTestClientLog.log"/>
      <!--file可以指定具体的路径 eg : d:\\test.log。不指定的话log被生成在项目的bin/Debug 或者 bin/Release目录下 （web的项目 默认生成在根目录下）-->
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <!--备份log文件的个数最多10个-->
      <maximumFileSize value="1MB"/>
      <!--每个log文件最大是2M，如果超过2M将重新创建一个新的log文件，并将原来的log文件备份。-->
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--指定log的格式-->
        <conversionPattern value="[%date]  %thread -- %-5level -- %logger [%M] -- %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="INFO"/>
      <!--指定将此级别及以上的log打印到log文件中-->
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
